.main-footer {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--teal);
  display: flex;
  align-items: center;
  padding: 80px 20px;
}
.main-footer .footer-container {
  display: flex;
  flex-direction: column;
  align-items: initial;
  justify-content: initial;
  gap: 100px;
}
.main-footer .footer-container .footer-head {
  display: flex;
  flex-direction: column;
  align-items: initial;
  justify-content: initial;
  gap: 20px;
}
.main-footer .footer-container .footer-head img {
  width: 170px;
  height: 28px;
  border-radius: initial;
}
.main-footer .footer-container .footer-head p {
  font-family: Mulish;
  line-height: 26px;
  text-decoration: initial;
  color: var(--light-color);
  font-size: 18px;
  font-weight: 500;
}
.main-footer .footer-container ul {
  display: flex;
  flex-direction: column;
  align-items: initial;
  justify-content: initial;
  gap: 20px;
}
.main-footer .footer-container ul .router-link {
  text-decoration: none;
}
.main-footer .footer-container ul li {
  font-family: Mulish;
  line-height: normal;
  text-decoration: initial;
  color: var(--light-color);
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
.main-footer .footer-container ul li:hover {
  color: var(--light-color-hover);
}
.main-footer .footer-container .form-box {
  display: flex;
  flex-direction: column;
  align-items: initial;
  justify-content: initial;
  gap: 20px;
  max-width: 390px;
}
.main-footer .footer-container .form-box h4 {
  font-family: Mulish;
  line-height: normal;
  text-decoration: initial;
  color: var(--light-color);
  font-size: 18px;
  font-weight: 500;
}
.main-footer .footer-container .form-box h4 h3 {
  font-size: 18px;
  font-weight: 700;
}
.main-footer .footer-container .form-box form {
  max-width: 300px;
  height: 50px;
  position: relative;
}
.main-footer .footer-container .form-box form input {
  width: 100%;
  height: 100%;
  border-radius: 60px;
  font-family: Mulish;
  line-height: normal;
  text-decoration: initial;
  color: var(#c4c4c4);
  font-size: 18px;
  font-weight: 500;
  flex-shrink: 0;
  border: 1px solid rgba(0, 141, 150, 0.5);
  background: var(--light-color);
  padding-left: 30px;
  outline: none;
}
.main-footer .footer-container .form-box form button {
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  height: 50px;
  border-radius: 60px;
  flex-shrink: 0;
  background: var(--goldenrod);
  border: transparent;
}
.main-footer .footer-container .form-box form button:hover {
  background: var(--dark-charcoal-hover);
}
.main-footer .footer-container .form-box form button i {
  color: #fff;
  color: var(--light-color);
  font-size: 1.8rem;
}
.main-footer .footer-copyright {
  display: flex;
  flex-direction: initial;
  align-items: center;
  justify-content: flex-start;
  gap: initial;
  margin: 0;
  padding: 0;
  height: 100%;
}
.main-footer .footer-copyright p {
  font-family: Mulish;
  line-height: 26px;
  text-decoration: initial;
  color: var(--light-color);
  font-size: 16px;
  font-weight: 500;
}
.main-footer .footer-jedai {
  display: flex;
  flex-direction: initial;
  align-items: initial;
  justify-content: flex-end;
  gap: initial;
}
.main-footer .footer-jedai h3 {
  font-family: Mulish;
  line-height: 26px;
  text-decoration: initial;
  color: var(--light-color);
  font-size: 16px;
  font-weight: 500;
  text-align: right;
}

@media only screen and (max-width: 768px) {
  .footer-row {
    display: flex;
    flex-direction: initial;
    align-items: center !important;
    justify-content: center !important;
    gap: 30px;
  }
}/*# sourceMappingURL=Footer.css.map */