.main-advertising {
  background: #e3f1f2;
  padding: 120px 20px;
  overflow: hidden;
}
.main-advertising .advertising-container .advertising-head-row {
  margin-bottom: 44px;
}
.main-advertising .advertising-container .advertising-head-row .advertising-head {
  display: flex;
  flex-direction: column;
  align-items: initial;
  justify-content: initial;
  gap: 20px;
}
.main-advertising .advertising-container .advertising-head-row .advertising-head h2 {
  font-family: Lora;
  line-height: 68px;
  text-decoration: initial;
  color: var(--dark-charcoal);
  font-size: 41px;
  font-weight: 600;
}
.main-advertising .advertising-container .advertising-head-row .advertising-head p {
  font-family: Mulish;
  line-height: 36px;
  text-decoration: initial;
  color: var(--dark-charcoal);
  font-size: 20px;
  font-weight: 500;
}
.main-advertising .advertising-container .advertising-cards-row {
  display: flex;
  flex-direction: initial;
  align-items: center;
  justify-content: initial;
  gap: initial;
}
.main-advertising .advertising-container .advertising-cards-row .advertising-cards-box {
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
  height: 100%;
  margin: auto;
  max-width: 100%;
}
.main-advertising .advertising-container .advertising-cards-row .advertising-cards-box .advertising-card:nth-child(even) {
  margin-top: 26px;
}
.main-advertising .advertising-container .advertising-cards-row .advertising-cards-box .advertising-card {
  width: 296px;
  height: 280px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: initial;
  flex-shrink: 0;
  background: #fff;
  box-shadow: 3px 7px 30px 0px rgba(1, 94, 100, 0.15);
}
.main-advertising .advertising-container .advertising-cards-row .advertising-cards-box .advertising-card i {
  width: 60px;
  height: 60px;
  border-radius: 14px;
  display: flex;
  flex-direction: initial;
  align-items: center;
  justify-content: center;
  gap: initial;
  flex-shrink: 0;
  background: #f57170;
  color: var(--light-color);
  font-size: 2rem;
}
.main-advertising .advertising-container .advertising-cards-row .advertising-cards-box .advertising-card h3 {
  font-family: Mulish;
  line-height: normal;
  text-decoration: initial;
  color: var(--dark-charcoal);
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}
.main-advertising .advertising-container .advertising-cards-row .advertising-cards-box .advertising-card p {
  width: 260px;
  height: 68px;
  border-radius: initial;
  flex-shrink: 0;
  font-family: Mulish;
  line-height: 20px;
  text-decoration: initial;
  color: var(--list-color);
  font-size: 13px;
  font-weight: 500;
  text-align: center;
}
.main-advertising .advertising-container .advertising-cards-row .advertising-img {
  display: flex;
  flex-direction: initial;
  align-items: center;
  justify-content: center;
  gap: initial;
  margin: auto;
  width: 465px;
  height: 465px;
  border-radius: 50%;
  flex-shrink: 1;
  background: #d3eaeb;
  position: relative;
  overflow: hidden;
  max-width: 99%;
}
.main-advertising .advertising-container .advertising-cards-row .advertising-img > img {
  position: absolute;
  bottom: 0%;
  width: 70%;
  height: 90%;
}

@media only screen and (max-width: 992px) {
  .advertising-head {
    text-align: center;
  }
  .advertising-cards-row,
  .advertising-cards-box {
    justify-content: center;
  }
  .advertising-img {
    margin: 30px auto !important;
  }
  .advertising-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: initial;
    gap: 20px !important;
  }
}
@media only screen and (max-width: 768px) {
  .main-advertising {
    padding: 60px 20px;
  }
  .advertising-head h2 {
    font-size: 31px !important;
    line-height: 48px !important;
  }
  .advertising-head p {
    font-size: 18px !important;
  }
  .advertising-img {
    width: 365px !important;
    height: 365px !important;
  }
  .advertising-card {
    margin: 0 !important;
  }
}
@media only screen and (max-width: 450px) {
  .advertising-img {
    width: 280px !important;
    height: 280px !important;
  }
  .advertising-head h2 {
    font-size: 21px !important;
    line-height: 30px !important;
  }
  .advertising-head p {
    font-size: 13px !important;
    line-height: 20px !important;
  }
}
@media only screen and (max-width: 320px) {
  .main-advertising {
    padding: 40px 20px;
  }
  .advertising-head h2 {
    font-size: 16px !important;
    line-height: 20px !important;
  }
  .advertising-head p {
    font-size: 10px !important;
    line-height: 15px !important;
  }
}/*# sourceMappingURL=HomeAdvertisingPage.css.map */