.main-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: default;
  padding: 28px 0;
}
.main-navbar .navbar__menu-course {
  display: flex;
  align-items: center;
  justify-content: default;
  gap: 15px;
}
.main-navbar .navbar__menu-course i {
  color: var(--dark-charcoal);
}
.main-navbar .navbar__menu-course .course-link {
  font-family: Mulish;
  line-height: normal;
  text-decoration: none;
  color: var(--dark-charcoal);
  font-size: 22px;
  font-weight: 600;
}
.main-navbar .navbar__menu-course:hover .course-link, .main-navbar .navbar__menu-course:hover i, .main-navbar .navbar__menu-course:hover {
  cursor: pointer;
  color: var(--dark-charcoal-hover);
}
.main-navbar .navbar__wishlist {
  display: flex;
  align-items: center;
  justify-content: default;
  gap: 15px;
  flex-shrink: 0;
}
.main-navbar .navbar__wishlist i {
  color: var(--teal);
}
.main-navbar .navbar__wishlist .wishlist-link {
  font-family: Mulish;
  line-height: normal;
  text-decoration: none;
  color: var(--teal);
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}
.main-navbar .navbar__wishlist:hover .wishlist-link, .main-navbar .navbar__wishlist:hover i, .main-navbar .navbar__wishlist:hover {
  cursor: pointer;
  color: var(--teal-hover);
}
.main-navbar .navbar__btn-boxes {
  display: flex;
  align-items: center;
  justify-content: default;
  gap: 11px;
}
.main-navbar .navbar__btn-boxes .login {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-family: Mulish;
  line-height: normal;
  text-decoration: none;
  color: var(--teal);
  font-size: 16px;
  font-weight: 700;
  width: 128px;
  height: 45px;
  border-radius: 40px;
  text-align: center;
  flex-shrink: 0;
  border: 1px solid #008d96;
}
.main-navbar .navbar__btn-boxes .login:hover {
  color: var(--light-color);
  background: var(--light-color-hover);
}
.main-navbar .navbar__btn-boxes .signup {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-family: Mulish;
  line-height: normal;
  text-decoration: none;
  color: var(--light-color);
  font-size: 16px;
  font-weight: 700;
  width: 206px;
  height: 45px;
  border-radius: 40px;
  text-align: center;
  background: var(--teal);
  flex-shrink: 0;
}
.main-navbar .navbar__btn-boxes .signup:hover {
  background-color: var(--teal-hover);
}

.menu-icon-box {
  display: none;
}
.menu-icon-box:hover {
  color: var(--dark-charcoal-hover);
  cursor: pointer;
}

@media only screen and (max-width: 990px) {
  .main-navbar .web-logo {
    width: 150px !important;
  }
  .main-navbar .navbar__wishlist {
    gap: 10px;
  }
  .main-navbar .navbar__menu-course {
    gap: 10px;
  }
  .main-navbar .navbar__menu-course .course-link {
    font-size: 18px;
  }
  .main-navbar .signup {
    width: 150px !important;
    height: 40px !important;
    font-size: 12px !important;
    gap: 4px !important;
  }
  .main-navbar .login {
    width: 90px !important;
    height: 40px !important;
    font-size: 12px !important;
    gap: 4px !important;
  }
}
@media only screen and (max-width: 767px) {
  .main-navbar {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  .menu-icon-box {
    display: flex !important;
  }
  .navbar__btn-boxes {
    display: none !important;
  }
  .navbar__menu-course {
    display: none !important;
  }
  .navbar__wishlist {
    display: none !important;
  }
}/*# sourceMappingURL=Navbar.css.map */