.section-navbar .navbar-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 51px 0;
  background: #e1f1f2;
  z-index: 998;
}
.section-navbar .main-navbar {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: initial;
  padding: 28px 0;
  border-color: transparent;
}
.section-navbar .main-navbar .navbar__menu-course {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: initial;
  gap: 15px;
}
.section-navbar .main-navbar .navbar__menu-course i {
  color: var(--dark-charcoal);
}
.section-navbar .main-navbar .navbar__menu-course .course-link {
  font-family: Mulish;
  line-height: normal;
  text-decoration: none;
  color: var(--dark-charcoal);
  font-size: 22px;
  font-weight: 600;
}
.section-navbar .main-navbar .navbar__menu-course:hover .course-link, .section-navbar .main-navbar .navbar__menu-course:hover i, .section-navbar .main-navbar .navbar__menu-course:hover {
  cursor: pointer;
  color: var(--dark-charcoal-hover);
}
.section-navbar .main-navbar .navbar__wishlist {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: initial;
  gap: 15px;
  flex-shrink: 0;
}
.section-navbar .main-navbar .navbar__wishlist i {
  color: var(--teal);
}
.section-navbar .main-navbar .navbar__wishlist .wishlist-link {
  font-family: Mulish;
  line-height: normal;
  text-decoration: none;
  color: var(--teal);
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}
.section-navbar .main-navbar .navbar__wishlist:hover .wishlist-link, .section-navbar .main-navbar .navbar__wishlist:hover i, .section-navbar .main-navbar .navbar__wishlist:hover {
  cursor: pointer;
  color: var(--teal-hover);
}
.section-navbar .main-navbar .navbar__btn-boxes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: default;
  gap: 11px;
}
.section-navbar .menu-icon-box {
  display: none;
}
.section-navbar .menu-icon-box:hover {
  color: var(--dark-charcoal-hover);
  cursor: pointer;
}

@media only screen and (max-width: 990px) {
  .main-navbar .web-logo {
    width: 150px !important;
  }
  .main-navbar .navbar__wishlist {
    gap: 10px;
  }
  .main-navbar .navbar__menu-course {
    gap: 10px;
  }
  .main-navbar .navbar__menu-course .course-link {
    font-size: 18px;
  }
}
@media only screen and (max-width: 767px) {
  .main-navbar {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  .menu-icon-box {
    display: flex !important;
  }
  .navbar__btn-boxes {
    display: none !important;
  }
  .navbar__menu-course {
    display: none !important;
  }
  .navbar__wishlist {
    display: none !important;
  }
  .navbar-bg {
    padding: 40px 0 !important;
  }
}
.private-cabinet-link {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 40px;
  display: inline-block;
  border: 1px solid var(--teal);
  border-radius: 50%;
  padding: 8px 0;
}/*# sourceMappingURL=Navbar.css.map */