.private-subscription-container {
  display: flex;
  flex-direction: initial;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  padding: 20px 0;
  margin-left: 20px;
}
.private-subscription-container .subscribe {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: initial;
  gap: 30px;
  width: 338px;
}
.private-subscription-container .subscribe .warning {
  width: 100%;
  height: 64px;
  border-radius: 6px;
  border: 1px solid #c89f9f;
  background: #fff8f8;
  display: flex;
  align-items: center;
  padding-left: 24px;
}
.private-subscription-container .subscribe .warning span {
  font-family: Mulish;
  line-height: 26px;
  text-decoration: initial;
  color: var(#c89f9f);
  font-size: 20px;
  font-weight: 600;
}
.private-subscription-container .subscribe .info {
  font-family: Mulish;
  line-height: 26px;
  text-decoration: initial;
  color: var(--list-color);
  font-size: 20px;
  font-weight: 600;
  display: flex;
  gap: 10px;
  align-items: center;
}
.private-subscription-container .refresh {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: initial;
  gap: 30px;
}
.private-subscription-container .refresh .info {
  font-family: Mulish;
  line-height: 26px;
  text-decoration: initial;
  color: var(--list-color);
  font-size: 20px;
  font-weight: 600;
  display: flex;
  gap: 10px;
  align-items: center;
}
.private-subscription-container .refresh .exclamation {
  display: flex;
  flex-direction: initial;
  align-items: center;
  justify-content: initial;
  gap: 10px;
  font-family: Mulish;
  line-height: 26px;
  text-decoration: initial;
  color: var(#c89f9f);
  font-size: 20px;
  font-weight: 600;
}

@media only screen and (max-width: 992px) {
  .private-subscription-container {
    flex-direction: column;
    gap: 40px;
  }
}
@media only screen and (max-width: 426px) {
  .private-subscription-container {
    margin: 0;
  }
  .private-subscription-container .subscribe {
    max-width: 100% !important;
    align-items: center;
  }
  .private-subscription-container .refresh {
    max-width: 100% !important;
    align-items: center;
  }
  .private-subscription-container .refresh .exclamation,
  .private-subscription-container .refresh .info {
    font-size: 16px !important;
  }
}
body {
  position: relative;
}

.modal-main {
  display: flex;
  flex-direction: initial;
  align-items: center;
  justify-content: center;
  gap: initial;
  width: 100vw;
  height: 100vh;
  border-radius: initial;
  position: absolute;
  top: 0%;
  left: 0%;
  background: rgba(0, 0, 0, 0.5);
}

.xmark {
  position: absolute;
  top: 15px;
  right: 21px;
}
.xmark i {
  color: #939393;
  font-size: 1rem;
  cursor: pointer;
}

.refresh-modal {
  width: 614px;
  height: 418px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: initial;
  position: relative;
  flex-shrink: 0;
  background: #fff;
  box-shadow: 6px 10px 20px 0px rgba(1, 94, 100, 0.06);
  padding: 45px;
}
.refresh-modal .head p {
  font-family: Mulish;
  line-height: 26px;
  text-decoration: initial;
  color: var(--list-color);
  font-size: 18px;
  font-weight: 500;
}
.refresh-modal .price-checkbox {
  width: 100%;
}
.refresh-modal .price-checkbox .price-row {
  display: flex;
  flex-direction: initial;
  align-items: center;
  justify-content: space-between;
  gap: initial;
  padding: 10px 0;
  border-bottom: 1px solid #e3e3e3;
}
.refresh-modal .price-checkbox .price-row:nth-child(3) {
  border: transparent;
}
.refresh-modal .price-checkbox .price-row .label-input {
  display: flex;
  flex-direction: initial;
  align-items: center;
  justify-content: initial;
  gap: 10px;
}
.refresh-modal .price-checkbox .price-row .label-input input {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  stroke-width: 1px;
  stroke: #939393;
}
.refresh-modal .price-checkbox .price-row .label-input label {
  font-family: Mulish;
  line-height: normal;
  text-decoration: initial;
  color: var(--dark-charcoal);
  font-size: 18px;
  font-weight: 500;
}
.refresh-modal .price-checkbox .price-row p {
  font-family: Mulish;
  line-height: normal;
  text-decoration: initial;
  color: var(--dark-charcoal);
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}/*# sourceMappingURL=Subscription.css.map */