body{
    position: relative;
}
.navbar-mobile-menu{
    background: var(--bg-color);
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    min-width: 100vw;
    min-height: 100vh;
    padding: 33px 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.xmark-row{
    min-width: 100%;
}
.xmark{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-self: flex-end;
    i{
        font-size: 2.5rem;
    }
}
@media only screen and (min-width: 767px){
    
}
@media only screen and (max-width: 450px){
    .navbar-mobile-menu{
        padding: 33px 50px;
    }
}