@import "../../../helpers/css/style.scss";
.private-cabinet-container {
  padding: 50px;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;

  .private-cabinet-row {
    display: flex;
    justify-content: space-between;
  }
  .private-cabinet-links-boxes {
    @include box-model(248px, 357px, 20px);
    flex-shrink: 0;
    background: #fff;
    box-shadow: 6px 10px 20px 0px rgba(1, 94, 100, 0.06);
    header {
      @include box-model(248px, 64px, 20px 20px 0 0);
      @include flexbox(flex, initial, center, center, initial);
      flex-shrink: 0;
      background: #008d96;
      h6 {
        @include text-properties(
          Mulish,
          normal,
          initial,
          --light-color,
          20px,
          700
        );
      }
    }
    .btn-boxes {
      @include flexbox(flex, column, center, center, 15px);
      flex-grow: 1;
      height: 81%;
      border-radius: 20px;

      button {
        @include flexbox(flex, initial, center, left, initial);
        @include box-model(100%, 40px, 0);
        background: transparent;
        padding-left: 50px;
        position: relative;
        border: transparent;
        span {
          @include box-model(5px, 100%, initial);
          position: absolute;
          top: 0;
          left: 0;
          background: #008d96;
        }
        p {
          @include text-properties(
            Mulish,
            normal,
            initial,
            --list-color,
            20px,
            500
          );
          display: flex;
          gap: 10px;
          padding: 0;
          margin: 0;
        }
        .active {
          @include text-properties(Mulish, normal, initial, --teal, 20px, 700);
        }
      }
    }
  }
  .private-cabinet-parts-boxes {
    width: 100%;
  }
}

@media only screen and (max-width: 765px) {
  .private-cabinet-container {
    @include flexbox(flex, initial, center, initial, 20px);
  }
}
