.private-cabinet-container {
  padding: 50px 0;
  margin-top: 100px;
  background: #fafdfd;

  .private-cabinet-links-boxes {
    width: 248px;
    height: 357px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #fff;
    box-shadow: 6px 10px 20px 0px rgba(1, 94, 100, 0.06);
    header {
      width: 248px;
      height: 64px;
      flex-shrink: 0;
      border-radius: 20px 20px 0px 0px;
      background: #008d96;
      display: flex;
      align-items: center;
      justify-content: center;
      h6 {
        color: #fff;
        font-family: Mulish;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
    .btn-boxes{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        flex-grow: 1;
        height: 81%;
        border-radius: 20px;
        Button{
            background: transparent;
            border-color: transparent transparent transparent green;
            border-radius: 0;
            border-width: 5px;
            color: #008D96;
font-family: Mulish;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
display: flex;
align-items: center;
justify-content: center;
gap: 10px;
width: 100%;
        }
    }
  }
}
