@import '../../../../helpers/css/style.scss';
.commonBtn {
  @include flexbox(flex, initial, center, center, 11px);
  @include text-properties(Mulish, normal, none, --light-color, 20px, 700);
  background: #008d96;
  padding: 11px 50.7px;
  .commonbtnLink{
    text-decoration: none;
    color:#fff;
  }
  &:hover {
    background: var(--teal-hover);
    color: #fff;
  }
}
@media only screen and (max-width:768px){
  .commonBtn{
    padding: 10px 40px !important;
  }
}
@media only screen and (max-width:380px){
  .commonBtn{
    padding: 10px 35px !important;
    font-size: 15px !important;
    > i{
      font-size: 10px !important;
    }
  }
}
@media only screen and (max-width:325px){
  .commonBtn{
    padding: 10px 20px !important;
    font-size: 11px !important;
    > i{
      font-size: 8px !important;
    }
  }
}