@import "../.././../helpers/css/style.scss";

.courses-position-btn {
  @include box-model(136px, 45px, 8px);
  @include text-properties(Mulish, normal, none, --teal, 18px, 600);
  flex-shrink: 0;
  border: 1px solid var(--teal);
  text-align: center;
  &:hover {
    background: var(--teal-hover);
    color: var(--light-color);
  }
  &.position-btn-active {
    background: var(--teal-hover);
    color: var(--light-color);
  }
}
