// Mixin Start
@mixin flexbox(
  $display,
  $flex-direction,
  $align-items,
  $justify-content,
  $gap
) {
  display: $display;
  flex-direction: $flex-direction;
  align-items: $align-items;
  justify-content: $justify-content;
  gap: $gap;
}

@mixin text-properties(
  $font-family,
  $line-height,
  $text-decoration,
  $color,
  $font-size,
  $font-weight
) {
  font-family: $font-family;
  line-height: $line-height;
  text-decoration: $text-decoration;
  color: var($color);
  font-size: $font-size;
  font-weight: $font-weight;
}

@mixin box-model($width, $height, $border-radius) {
  width: $width;
  height: $height;
  border-radius: $border-radius;
}
// Mixin End
.courses-btn {
  @include flexbox(flex, row, center, center, 10px);
  @include text-properties(Mulish, normal, none, --light-color, 20px, 700);
  @include box-model(180px, 55px, 70px);
  flex-shrink: 0;
  background: #008d96;
  box-shadow: 0px 20px 40px 0px rgba(1, 94, 100, 0.2);
}
