@import "../../../helpers/css/style.scss";
.login-btn {
  @include flexbox(flex, row, center, center, 6px);
  @include text-properties(Mulish, normal, none, --teal, 16px, 700);
  @include box-model(128px, 45px, 40px);
  text-align: center;
  flex-shrink: 0;
  border: 1px solid #008d96;
  &:hover {
    color: var(--light-color);
    background: var(--light-color-hover);
  }
}

@media only screen and (max-width: 990px) {
  .login-btn {
    @include box-model(90px !important, 40px !important, initial);
    font-size: 12px !important;
    gap: 4px !important;
  }
}
