// Mixin Start
@mixin flexbox(
  $display,
  $flex-direction,
  $align-items,
  $justify-content,
  $gap
) {
  display: $display;
  flex-direction: $flex-direction;
  align-items: $align-items;
  justify-content: $justify-content;
  gap: $gap;
}

@mixin text-properties(
  $font-family,
  $line-height,
  $text-decoration,
  $color,
  $font-size,
  $font-weight
) {
  font-family: $font-family;
  line-height: $line-height;
  text-decoration: $text-decoration;
  color: var($color);
  font-size: $font-size;
  font-weight: $font-weight;
}

@mixin box-model($width, $height, $border-radius) {
  width: $width;
  height: $height;
  border-radius: $border-radius;
}
// Mixin End

.signup-btn {
  @include flexbox(flex, row, center, center, 5px);
  @include text-properties(Mulish, normal, none, --light-color, 16px, 700);
  @include box-model(206px, 45px, 40px);
  text-align: center;
  background: var(--teal);
  flex-shrink: 0;
  &:hover {
    background-color: var(--teal-hover);
  }
}

@media only screen and (max-width: 990px) {
  .signup-btn {
    width: 150px !important;
    height: 40px !important;
    font-size: 12px !important;
    gap: 4px !important;
  }
}
