
@import "../../../helpers/css/style.scss";
.signup-btn {
  @include flexbox(flex, row, center, center, 5px);
  @include text-properties(Mulish, normal, none, --light-color, 16px, 700);
  @include box-model(206px, 45px, 40px);
  text-align: center;
  background: var(--teal);
  flex-shrink: 0;
  &:hover {
    background-color: var(--teal-hover);
  }
}

@media only screen and (max-width: 990px) {
  .signup-btn {
    @include box-model(150px !important, 40px !important,initial);
    font-size: 12px !important;
    gap: 4px !important;
  }
}
