@import "../../../helpers/css/style.scss";
.gfb-main {
  @include flexbox(flex, column, initial, initial, 20px);
  width: 419px;
  .f-row {
    @include box-model(100%, 60px, initial);
    position: relative;
    i {
      @include box-model(60px, 100%, 8px 0 0 8px);
      @include flexbox(flex, initial, center, center, initial);
      position: absolute;
      top: 0;
      left: 0;
      background: #395185;
      color: #fff;
    }
    nav {
      @include box-model(100%, 100%, 8px);
      @include text-properties(
        Mulish,
        normal,
        initial,
        --list-color,
        16px,
        500
      );
      display: flex;
      align-items: center;
      flex-shrink: 0;
      background: #f6f6f7;
      padding-left: 80px;
      outline: none;
      border: transparent;
    }
  }
  .g-row {
    position: relative;
    @include box-model(100%, 60px, initial);
    i {
      @include box-model(60px, 100%, 8px 0 0 8px);
      @include flexbox(flex, initial, center, center, initial);
      position: absolute;
      top: 0;
      left: 0;
      background: #e93e32;
      color: #fff;
    }
    nav {
      @include box-model(100%, 100%, 8px);
      @include text-properties(
        Mulish,
        normal,
        initial,
        --list-color,
        16px,
        500
      );
      display: flex;
      align-items: center;
      flex-shrink: 0;
      background: #f6f6f7;
      padding-left: 80px;
      outline: none;
      border: transparent;
    }
  }
}
@media only screen and (max-width: 550px) {
  .gfb-main {
    width: 350px;
  }
}
@media only screen and (max-width: 430px) {
  .gfb-main {
    width: 280px;
  }
  .f-row,
  .g-row {
    i {
      font-size: 0.9rem !important;
    }
    nav {
      font-size: 13px !important;
    }
  }
}
@media only screen and (max-width: 380px) {
  .gfb-main {
    width: 240px;
  }
  .f-row,
  .g-row {
    i {
      font-size: 0.9rem !important;
    }
    nav {
      font-size: 13px !important;
    }
  }
}
@media only screen and (max-width: 325px) {
  .gfb-main {
    width: 220px;
  }
  .f-row,
  .g-row {
    height: 50px !important;
    i {
      font-size: 0.9rem !important;
    }
    nav {
      font-size: 11px !important;
    }
  }
}
