@import "../../../helpers/css/style.scss";
.main-footer {
  .footer-container {
    @include flexbox(flex, column, initial, initial, 100px);
    .footer-head {
      @include flexbox(flex, column, initial, initial, 20px);
      img {
        @include box-model(170px, 28px, initial);
      }
      p {
        @include text-properties(
          Mulish,
          26px,
          initial,
          --light-color,
          18px,
          500
        );
      }
    }
    ul {
      @include flexbox(flex, column, initial, initial, 20px);
      .router-link {
        text-decoration: none;
      }
      li {
        @include text-properties(
          Mulish,
          normal,
          initial,
          --light-color,
          20px,
          500
        );
        cursor: pointer;
        &:hover {
          color: var(--light-color-hover);
        }
      }
    }
    .form-box {
      @include flexbox(flex, column, initial, initial, 20px);
      max-width: 390px;
      h4 {
        @include text-properties(
          Mulish,
          normal,
          initial,
          --light-color,
          18px,
          500
        );
        h3 {
          font-size: 18px;
          font-weight: 700;
        }
      }
      form {
        max-width: 300px;
        height: 50px;
        position: relative;
        input {
          @include box-model(100%, 100%, 60px);
          @include text-properties(Mulish, normal, initial, #c4c4c4, 18px, 500);
          flex-shrink: 0;
          border: 1px solid rgba(0, 141, 150, 0.5);
          background: var(--light-color);
          padding-left: 30px;
          outline: none;
        }
        button {
          position: absolute;
          top: 0;
          right: 0;
          @include box-model(80px, 50px, 60px);
          flex-shrink: 0;
          background: var(--goldenrod);
          border: transparent;
          &:hover {
            background: var(--dark-charcoal-hover);
          }
          i {
            color: #fff;
            color: var(--light-color);
            font-size: 1.8rem;
          }
        }
      }
    }
  }

  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--teal);
  display: flex;
  align-items: center;
  padding: 80px 20px;
  .footer-copyright {
    @include flexbox(flex, initial, center, flex-start, initial);
    margin: 0;
    padding: 0;
    height: 100%;
    p {
      @include text-properties(Mulish, 26px, initial, --light-color, 16px, 500);
    }
  }
  .footer-jedai {
    @include flexbox(flex, initial, initial, flex-end, initial);
    h3 {
      @include text-properties(Mulish, 26px, initial, --light-color, 16px, 500);
      text-align: right;
    }
  }
}

@media only screen and (max-width: 768px) {
  .footer-row {
    @include flexbox(flex, initial, center !important, center !important, 30px);
  }
}
