@import '../../../helpers/css/style.scss';
.passwordUpdate-container {
  @include flexbox(flex, column, center, center,30px );
  padding: 50px 0;
  margin-top: 100px;
  > h2 {
    @include text-properties(Lora, 50px, initial, --dark-charcoal, 41px, 600);
    text-align: center;
  }
  .password-update-form {
    @include flexbox(flex, column, center, space-around, 30px);
    padding: 38px 0;
    width: 519px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0px 30px 60px 0px rgba(1, 94, 100, 0.2);
    .update-label-input {
      @include flexbox(flex, column, initial, initial,15px );
      width: 419px;
      label {
        @include text-properties(Mulish, normal, initial, --dark-charcoal, 20px, 700);
      }
      .input {
        @include box-model(100%, 60px, initial);
        position: relative;
        i {
          position: absolute;
          top: 50%;
          left: 20px;
          transform: translateY(-50%);
          color: #939393;
          font-size: 1.2rem;
        }
        input {
        @include text-properties(Mulish, normal, initial, --list-color, 16px, 500);
          @include box-model(100%, 100%,8px);
          background: #f6f6f7;
          outline: none;
          border: transparent;
          padding-left: 50px;
          padding-right: 10px;
        }
      }
    }
  }
}
@media only screen and (max-width: 550px) {
  .passwordUpdate-container {
    .password-update-form {
      width: 450px;
      .update-label-input {
        width: 350px;
      }
    }
  }
}
@media only screen and (max-width: 430px) {
  .passwordUpdate-container {
    > h2 {
      font-size: 31px;
    }
    .password-update-form {
      width: 380px;
      .update-label-input {
        width: 280px;
        label {
          font-size: 18px !important;
        }
        .input {
          i {
            font-size: 0.9rem !important;
          }
          input {
            font-size: 13px !important;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 380px) {
  .passwordUpdate-container {
    > h2 {
      font-size: 31px;
    }
    .password-update-form {
      width: 340px;
      .update-label-input {
        width: 240px;
        label {
          font-size: 18px !important;
        }
        .input {
          i {
            font-size: 0.9rem !important;
          }
          input {
            font-size: 13px !important;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 325px) {
  .passwordUpdate-container {
    > h2 {
      font-size: 31px;
      width: 14ch !important ;
    }
    .password-update-form {
      width: 280px;
      .update-label-input {
        width: 220px;
        label {
          font-size: 18px !important;
        }
        .input {
          height: 50px !important;
          i {
            font-size: 0.9rem !important;
          }
          input {
            font-size: 13px !important;
          }
        }
      }
    }
  }
}
