// Mixin Start
@import "../../../helpers/css/style.scss";
// Mixin End
.main-card {
  @include box-model(270px, 347px, 20px);
  @include flexbox(flex, column, center, flex-start, default);
  flex-shrink: 0;
  background: #fff;
  box-shadow: 2px 8px 20px 0px rgba(0, 0, 0, 0.09);
  padding: 17px;
  margin: 10px 0;
  .card-pos-lessonNum {
    @include flexbox(flex, row, center, space-between, default);
    border-bottom: 1px solid #d9d9d9;
    width: 100%;
    padding: 14.6px 0;
    .lesson-num {
      @include flexbox(flex, row, center, default, 4px);
      @include text-properties(
        Mulish,
        normal,
        default,
        --list-color,
        16px,
        600
      );
      text-align: center;
    }
    > h3 {
      @include box-model(90px, 31px, 8px);
      @include flexbox(flex, row, center, center, default);
      @include text-properties(
        Mulish,
        normal,
        default,
        --dark-charcoal,
        16px,
        600
      );
      flex-shrink: 0;
      background: #fdefd0;
      text-align: center;
    }
  }
  .card-info {
    @include flexbox(flex, row, center, default, default);
    padding: 15px 0;
    span {
      @include text-properties(
        Mulish,
        normal,
        default,
        --dark-charcoal,
        18px,
        700
      );
      @include box-model(169px, 60px, default);
      flex-shrink: 0;
    }
    > i {
      font-size: 3.125rem;
      color: var(--teal);
      &:hover{
        cursor: pointer;
        color: var(--teal-hover);
      }
    }
  }
}
