@import '../../../../helpers/css/style.scss';
.private-profile-container {
  @include flexbox(flex, initial, center, space-around, 20px);
  flex-wrap: wrap;
  padding: 20px 0;
  margin-left: 20px;
  .label-input {
    @include flexbox(flex, column, initial, initial, 10px);
    margin: 2px 10px;
    width: 300px;

    label {
      @include text-properties(Mulish, 26px, initial, --dark-charcoal, 16px, 600);
    }
    input {
      @include box-model(100%, 50px, 8px);
      @include text-properties(Mulish, normal, initial, --list-color, 16px, 400);
      flex-shrink: 0;
      border: 1px solid #dfdbdb;
      background: #fff;
      outline: none;
      padding-left: 20px;
    }
  }
}

@media only screen and (max-width: 350px) {
  .private-profile-container {
    .label-input {
      width: 250px;
    }
  }
}
@media only screen and (max-width: 768px) {
  .private-profile-container {
    margin: 0;
  }
  .profile-commonbtn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
