@import "../../../../helpers/css/style.scss";
.private-receipts-container {
  @include flexbox(flex, initial, center, space-around, 20px);
  flex-wrap: wrap;
  padding: 20px 0;
  margin-left: 20px;
  .table {
    @include box-model(80%, 357px, 20px);
    min-width: 370px;
    background: #fff;
    box-shadow: 6px 10px 20px 0px rgba(1, 94, 100, 0.06);
    .table-head {
      @include box-model(100%, 64px, 20px 20px 0 0);
      @include flexbox(flex, initial, center, space-around, initial);
      border: 1px solid #cae6e8;
      background: #ecf8f9;
      h6 {
        @include text-properties(Mulish, normal, initial, --teal, 18px, 700);
      }
    }
    .table-body {
      @include flexbox(flex, column, center, space-between, initial);
      flex-grow: 1;
      height: 293px;
      border-radius: 0 0 20px 20px;
      padding: 20px 0;
      .body-row {
        @include flexbox(flex, initial, center, space-around, initial);
        width: 100%;
        p {
          @include text-properties(
            Mulish,
            normal,
            initial,
            --dark-charcoal,
            18px,
            500
          );
        }
      }
    }
  }
}
@media only screen and (max-width: 750px) {
  .private-receipts-container {
    margin: 0;
  }
}
