.private-subscription-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
  gap: 20px;
  margin-left: 20px;
  .subscribe {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    width: 338px;
    .warning {
      width: 100%;
      height: 64px;
      border-radius: 6px;
      border: 1px solid #c89f9f;
      background: #fff8f8;
      display: flex;
      align-items: center;
      padding-left: 24px;
      span {
        color: #c89f9f;
        font-family: Mulish;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 26px; /* 130% */
      }
    }
    .info {
      display: flex;
      gap: 10px;
      align-items: center;
      color: #939393;
      font-family: Mulish;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: 26px; /* 130% */
    }
  }
  .refresh {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    .info {
      display: flex;
      gap: 10px;
      align-items: center;
      color: #939393;
      font-family: Mulish;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: 26px; /* 130% */
    }
    .exclamation {
      display: flex;
      gap: 10px;
      align-items: center;
      color: #c89f9f;
      font-family: Mulish;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: 26px; /* 130% */
    }
  }
}
@media only screen and (max-width: 992px) {
  .private-subscription-container {
    flex-direction: column;
    gap: 40px;
  }
}
@media only screen and (max-width: 426px) {
  .private-subscription-container {
    margin: 0;
    .subscribe {
      max-width: 100% !important;
      align-items: center;
    }
    .refresh {
      max-width: 100% !important;
      align-items: center;
      .exclamation,
      .info {
        font-size: 16px !important;
      }
    }
  }
}
body {
  position: relative;
}
.modal-main {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.xmark {
  position: absolute;
  top: 15px;
  right: 21px;
  i {
    color: #939393;
    font-size: 1rem;
  }
}
.refresh-modal {
  position: relative;
  width: 614px;
  height: 418px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #fff;
  box-shadow: 6px 10px 20px 0px rgba(1, 94, 100, 0.06);
  padding: 45px;
  .head {
    p {
      color: #939393;
      font-family: Mulish;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 26px; /* 144.444% */
    }
  }
  .price-checkbox {
    .price-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0;
      .label-input {
        display: flex;
        align-items: center;
        gap: 10px;
        input {
          width: 20px;
          height: 20px;
          flex-shrink: 0;
          stroke-width: 1px;
          stroke: #939393;
        }
        label {
          color: #1b2221;
          font-family: Mulish;
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }
      p {
        color: #1b2221;
        font-family: Mulish;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin: 0;
      }
    }
  }
}
