@import "../../../../helpers/css/style.scss";
.private-subscription-container {
  @include flexbox(flex, initial, center, space-around, 20px);
  padding: 20px 0;
  margin-left: 20px;
  .subscribe {
    @include flexbox(flex, column, flex-start, initial, 30px);
    width: 338px;
    .warning {
      @include box-model(100%, 64px, 6px);
      border: 1px solid #c89f9f;
      background: #fff8f8;
      display: flex;
      align-items: center;
      padding-left: 24px;
      span {
        @include text-properties(Mulish, 26px, initial, #c89f9f, 20px, 600);
      }
    }
    .info {
      @include text-properties(Mulish, 26px, initial, --list-color, 20px, 600);
      display: flex;
      gap: 10px;
      align-items: center;
    }
  }
  .refresh {
    @include flexbox(flex, column, flex-start, initial, 30px);
    .info {
      @include text-properties(Mulish, 26px, initial, --list-color, 20px, 600);
      display: flex;
      gap: 10px;
      align-items: center;
    }
    .exclamation {
      @include flexbox(flex, initial, center, initial, 10px);
      @include text-properties(Mulish, 26px, initial, #c89f9f, 20px, 600);
    }
  }
}
@media only screen and (max-width: 992px) {
  .private-subscription-container {
    flex-direction: column;
    gap: 40px;
  }
}
@media only screen and (max-width: 426px) {
  .private-subscription-container {
    margin: 0;
    .subscribe {
      max-width: 100% !important;
      align-items: center;
    }
    .refresh {
      max-width: 100% !important;
      align-items: center;
      .exclamation,
      .info {
        font-size: 16px !important;
      }
    }
  }
}


