@import "../../../../helpers/css/style.scss";
.wishlist-container {
  @include flexbox(flex, initial, center, space-around, 20px);
  flex-wrap: wrap;
  padding: 20px 0;
  margin-left: 20px;
}

@media only screen and (max-width: 768px) {
  .wishlist-container {
    margin: 0;
  }
}
