@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap");

:root {
  --teal: #008d96;
  --teal-hover: #005e66;

  --goldenrod: #f5af15;

  --dark-charcoal: #1b2221;
  --dark-charcoal-hover: #ff5733;
 
  --light-gray: #eff1f1;

  --light-color: #fff;
  --light-color-hover: #333;

  --bg-color: #fbfcfc;

  --border-color: #dde5e7;

  --list-color: #939393;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
