// Mixin start
@import "../../helpers/css/style.scss";
// @include flexbox(, -direction, -items, -content, )

// Mixin end
.main-pages-bg {
  background-image: url("../../assets/img/PagesBg.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  section {
    padding: 17.5px 0;
    background-color: #008d96;
    width: 100%;
    opacity: 0.7;
    .pages-bg-container {
      margin: auto;
      display: flex;
      flex-direction: column;
      .pages-bg-head {
        @include flexbox(flex, initial, center, center, initial);
        h2 {
          @include text-properties(
            Mulish,
            normal,
            initial,
            --light-color,
            35px,
            700
          );
          text-align: center;
          z-index: 10 !important;
        }
      }
      .pages-bg-links {
        @include flexbox(flex, initial, initial, center, initial);
        padding: 20px 0;
        .pages-bg-home {
          @include text-properties(
            Mulish,
            normal,
            none,
            --light-color,
            18px,
            500
          );
          text-decoration: none;
          &:hover {
            color: var(--light-color-hover);
          }
        }
        ul {
          margin-bottom: 0;
          li {
            @include text-properties(
              Mulish,
              normal,
              initial,
              --light-color,
              18px,
              500
            );
          }
        }
      }
    }
  }
}
