@import "../../../../helpers/css/style.scss";
.contact-card {
  @include flexbox(flex, column, center, flex-start, 19px);
  @include box-model(271px, 254px, 30px);
  border: 1px solid #f4d2b8;
  background: #f9f5ee;
  flex-shrink: 0;
  padding-top: 30px;
  &:nth-child(4) {
    gap: 12px;
  }
  .contact-headicon {
    @include box-model(60px, 60px, 14px);
    @include flexbox(flex, row, center, center, initial);
    flex-shrink: 0;
    background: #f5af15;
    box-shadow: 0px 3px 4px 0px rgba(82, 58, 4, 0.12);
    i {
      color: #fff;
      font-size: 1.3rem;
    }
  }
  .contact-name {
    @include text-properties(Mulish, normal, initial, --teal, 20px, 700);
    text-align: center;
  }
  .contact-method-box {
    @include flexbox(flex, column, initial, initial, 4px);
    .contact-method {
      @include text-properties(
        Mulish,
        normal,
        initial,
        --list-color,
        16px,
        500
      );
      text-align: center;
      padding: 0;
      margin: 0;
    }
  }

  .contact-card-icons {
    @include flexbox(flex, row, center, initial, 16px);
    i {
      @include box-model(36px, 36px, 4px);
      @include flexbox(flex, row, center, center, initial);
      flex-shrink: 0;
      border: 1px solid #939393;
      color: #939393;
      cursor: pointer;
      &:hover {
        background: #939393bc;
        color: #616161;
      }
    }
  }
}
