@import "../../../helpers/css/style.scss";
// *{
//   outline: 1px solid red;
// }
.main-home-course {
  @include flexbox(flex,column,initial,center,initial);
  padding: 100px 0;

}
.home-courseshead-row{
  width: 100%;
  margin: auto;
  @include flexbox(flex,initial,center,space-evenly,initial);

}

.home-courses-head {
  h6 {
    @include text-properties(Lora, 68px, default, --dark-charcoal, 41px, 600);
  }
}
.home-courses-head-btns {
  margin: 0;
  padding: 11px 0;
  @include flexbox(flex, row, initial, flex-end, 20px);
  flex-wrap: wrap;
}
.home-courses-cards-list {
  padding: 73px 0;
  margin: 0 auto;
  @include flexbox(flex, row, center, space-between, 20px);
  flex-wrap: wrap;
}
.home-courselist-row{
  margin: auto;
}
.home-allcourses {
  margin: auto;
  width: 90%;
  @include flexbox(flex, row, center, center, initial);
  
}
@media only screen and (max-width: 450px){
  .home-courses-cards-list{
    justify-content: center !important;
  }
  .home-courses-head{
    text-align: center !important;
  }
  .home-courses-head-btns {
    justify-content: center !important;
  }
  .home-allcourses {
    width: 100%;
  }
}
@media only screen and (max-width: 768px){
  .home-courses-cards-list{
    justify-content: center !important;
  }
  .home-courses-head{
    text-align: center !important;
  }
  // .home-courses-head-btns {
  //   justify-content: center !important;
  // }
  .home-allcourses {
    width: 100%;
  }
}