@mixin flexbox(
  $display,
  $flex-direction,
  $align-items,
  $justify-content,
  $gap
) {
  display: $display;
  flex-direction: $flex-direction;
  align-items: $align-items;
  justify-content: $justify-content;
  gap: $gap;
}
@mixin text-properties(
  $font-family,
  $line-height,
  $text-decoration,
  $color,
  $font-size,
  $font-weight
) {
  font-family: $font-family;
  line-height: $line-height;
  text-decoration: $text-decoration;
  color: var($color);
  font-size: $font-size;
  font-weight: $font-weight;
}

@mixin box-model($width, $height, $border-radius) {
  width: $width;
  height: $height;
  border-radius: $border-radius;
}
// @include flexbox(, -direction, -items, -content, )

.main-advertising {
  background: #e3f1f2;
  padding: 120px 20px;
  overflow: hidden;
  .advertising-container {
    .advertising-head-row {
      margin-bottom: 44px;
      .advertising-head {
          display: flex;
          flex-direction: column;
          gap: 20px;
        h2 {
          color: #1b2221;
          font-family: Lora;
          font-size: 41px;
          font-style: normal;
          font-weight: 600;
          line-height: 68px;
        }
        p {
          color: #1b2221;
          font-family: Mulish;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: 36px;
        }
      }
    }
    .advertising-cards-row {
      display: flex;
      align-items: center;
      .advertising-cards-box {
        display: flex;
        flex-wrap: wrap;
        gap: 26px;
        height: 100%;
        margin: auto;
        max-width: 100%;
        .advertising-card:nth-child(even) {
          margin-top: 26px;
        }
        .advertising-card {
          width: 296px;
          height: 280px;
          flex-shrink: 0;
          border-radius: 30px;
          background: #fff;
          box-shadow: 3px 7px 30px 0px rgba(1, 94, 100, 0.15);
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          i {
            width: 60px;
            height: 60px;
            flex-shrink: 0;
            border-radius: 14px;
            background: #f57170;
            color: var(--light-color);
            font-size: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          h3 {
            color: #1b2221;
            text-align: center;
            font-family: Mulish;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }
          p {
            width: 260px;
            height: 68px;
            flex-shrink: 0;
            color: #939393;
            text-align: center;
            font-family: Mulish;
            font-size: 13px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
          }
        }
      }
      .advertising-img {
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 465px;
        height: 465px;
        flex-shrink: 1;
        border-radius: 50%;
        background: #d3eaeb;
        position: relative;
        overflow: hidden;
        max-width: 99%;
        > img {
          position: absolute;
          bottom: 0%;
          width: 70%;
          height: 90%;
        }
      }
    }
  }
}
@media only screen and (max-width: 992px) {
  .advertising-head {
    text-align: center;
  }
  .advertising-cards-row,
  .advertising-cards-box {
    justify-content: center;
  }

  .advertising-img {
    margin: 30px auto !important;
  }

  .advertising-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px !important;
  }
}
@media only screen and (max-width: 768px) {
  .advertising-head {
    h2 {
      font-size: 31px !important;
      line-height: 48px !important;
    }
    p {
      font-size: 18px !important ;
    }
  }
  .advertising-img {
    width: 365px !important;
    height: 365px !important;
  }
  .advertising-card {
    margin: 0 !important;
  }
}
@media only screen and (max-width: 450px) {
  .advertising-img {
    width: 300px !important;
    height: 300px !important;
  }
  .advertising-head {
    h2 {
      font-size: 21px !important;
      line-height: 30px !important;
    }
    p {
      font-size: 13px !important ;
      line-height: 20px !important;
    }
  }
}
@media only screen and (max-width: 320px) {
  .advertising-head {
    h2 {
      font-size: 16px !important;
      line-height: 20px !important;
    }
    p {
      font-size: 10px !important ;
      line-height: 15px !important;
    }
  }
}
