@import "../../../helpers/css/style.scss";

.home-courses-head-btns {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
.home-courses-cards-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
