// Mixin Start
@import "../../../helpers/css/style.scss";
// Mixin End
.home-head {
  @include flexbox(flex, row, center, center, initial);
  @include box-model(100%, 100vh, default);
  background-image: url("../../img/HomePage/HomeBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  .home-head-left-side {
    @include flexbox(flex, column, flex-start, center, 47px);
  }
  .home-head-row {
    margin-top: 100px 0 !important;
    // display: flex !important;
    // gap: 20px ;
  }
  .home-head-entry {
    h2 {
      @include text-properties(Lora, 68px, initial, --dark-charcoal, 56px, 600);
      .goldenrod {
        @include text-properties(
          Lora,
          default,
          default,
          --goldenrod,
          56px,
          600
        );
      }
    }
  }
}
.home-head-girl {
  display: flex;
  flex-shrink: 2;
  max-width: 90%;
}
@media only screen and (max-width: 992px) {
  .home-head-row {
    @include flexbox(
      flex !important,
      column !important,
      initial,
      initial,
      20px !important
    );
  }
  .home-head {
    padding-top: 20px !important;
  }
  .home-head-left-side {
    @include flexbox(
      flex !important,
      column !important,
      center !important,
      initial,
      initial
    );
    margin-top: 20px !important;
  }
  .home-head-entry {
    h2 {
      font-size: 26px !important;
      line-height: 25px !important;
      span {
        font-size: 26px !important;
      }
    }
  }
  .home-head-girl {
    margin: auto !important;
    width: 60% !important;
    flex-shrink: 2;
  }
}

@media only screen and (max-width: 876px) {
  .home-head-row {
    @include flexbox(
      flex !important,
      column !important,
      initial,
      initial,
      20px !important
    );
  }

  .home-head-left-side {
    @include flexbox(
      flex !important,
      column !important,
      center !important,
      initial,
      initial
    );
  }
  .home-head-entry {
    h2 {
      text-align: center !important;
    }
  }
}
@media only screen and (max-width: 450px) {
  .home-head-row {
    @include flexbox(
      flex !important,
      column !important,
      initial,
      initial,
      30px !important
    );
  }

  .home-head-left-side-btn-row {
    display: none;
  }
  .home-head-entry {
    h2 {
      font-size: 26px !important;
      line-height: 32px !important;
      text-align: center !important;
      span {
        font-size: 26px !important;
      }
    }
  }
  .home-head-girl {
    width: 100% !important;
  }
}

@media only screen and (max-width: 280px) {
  .home-head-girl {
    @include box-model(230px, 222px, default);
    margin: 0;
  }
}
