// Mixin Start
@import "../../../helpers/css/style.scss";
// Mixin End
.home-head {
  padding: 0;
  @include flexbox(flex, row, center, center, default);
  @include box-model(100%, 100vh, default);
  background-image: url("../../img/HomePage/HomeBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  .home-head-left-side {
    @include flexbox(flex, column, flex-start, center, 47px);
  }
  .home-head-entry {
    h2 {
      @include text-properties(Lora, 68px, default, --dark-charcoal, 56px, 600);
      .goldenrod {
        @include text-properties(
          Lora,
          default,
          default,
          --goldenrod,
          56px,
          600
        );
      }
    }
  }
}
@media only screen and (max-width: 950px) {
  .home-head-left-side {
    @include flexbox(
      flex !important,
      column !important,
      center !important,
      default,
      default
    );
    margin-top: 20px !important;
  }
  .home-head-entry {
    h2 {
      font-size: 26px !important;
      line-height: 20px !important;
      span {
        font-size: 26px !important;
      }
    }
  }
  .home-head-girl {
    width: 500px !important;
  }
}

@media only screen and (max-width: 876px) {
  .home-head-row {
    @include flexbox(
      flex !important,
      column !important,
      default,
      default,
      50px !important
    );
  }

  .home-head-left-side {
    @include flexbox(
      flex !important,
      column !important,
      center !important,
      default,
      default
    );
  }
  .home-head-entry {
    h2 {
      text-align: center !important;
    }
  }
}
@media only screen and (max-width: 450px) {
  .home-head-row {
    @include flexbox(
      flex !important,
      column !important,
      default,
      default,
      50px !important
    );
  }

  .home-head-left-side-btn-row {
    display: none;
  }
  .home-head-entry {
    h2 {
      font-size: 26px !important;
      line-height: 32px !important;
      text-align: center !important;
      span {
        font-size: 26px !important;
      }
    }
  }
  .home-head-girl {
    @include box-model(279px !important, 242px !important, default);
    flex-shrink: 0;
  }
}















@media only screen and (max-width: 280px) {
  .home-head-girl {
    @include box-model(230px, 222px, default);
    flex-shrink: 0;
    margin: 0;
  }
}

