@import "../../../helpers/css/style.scss";
.notFound-container {
  @include flexbox(flex, column, center, center, 30px);
  padding: 50px 0;
  margin-top: 100px;
  > h2 {
    @include text-properties(Lora, 50px, initial, --dark-charcoal, 41px, 600px);
    text-align: center;
  }
  .notFund-img-btn {
    @include flexbox(flex, column, center, initial, 50px);
    > img {
      width: 90%;
    }
    .backHome {
      @include text-properties(Mulish, normal, initial, --teal, 20px, 700);
      @include flexbox(flex, initial, center, initial, 17px);
      border-radius: 70px;
      border: 1px solid #008d96;
      background: transparent;
      padding: 12px 35.71px;
      &:hover {
        background: var(--light-color-hover);
        color: var(--light-color);
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .notFund-img-btn {
    > img {
      flex-shrink: 2;
    }
  }
}
@media only screen and (max-width: 430px) {
  .notFound-container {
    > h2 {
      font-size: 31px;
    }
  }
}
