
@mixin flexbox(
  $display,
  $flex-direction,
  $align-items,
  $justify-content,
  $gap
) {
  display: $display;
  flex-direction: $flex-direction;
  align-items: $align-items;
  justify-content: $justify-content;
  gap: $gap;
}
@mixin text-properties(
  $font-family,
  $line-height,
  $text-decoration,
  $color,
  $font-size,
  $font-weight
) {
  font-family: $font-family;
  line-height: $line-height;
  text-decoration: $text-decoration;
  color: var($color);
  font-size: $font-size;
  font-weight: $font-weight;
}

@mixin box-model($width, $height, $border-radius) {
  width: $width;
  height: $height;
  border-radius: $border-radius;
}
